<!doctype html>
<html lang="en">

<head>
    <title>babyGrowthTracker</title>
</head>

<body>


    <form class="w-25 p-3" #login="ngForm" name="login" (ngSubmit)="Submit(login)">
        <div class="mb-3">
            <span class="text-danger p-1">*</span>
            <label for="childName" class="form-label">Child's
                name</label>
            <input type="text" class="form-control" #childNameField="ngModel" [(ngModel)]="childName" name="childName"
                id="childName" required>

            <div class="text-danger" id="childNameValidation"
                *ngIf="!childNameField.untouched && childNameField?.errors?.['required']">Child name
                should not be empty.
            </div>
        </div>

        <div class="mb-3">
            <span class="text-danger p-1">*</span>
            <label for="childSex" class="form-label">Sex</label>
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-1">
                            <input class="form-check-input" type="radio" name="gender" #genderField="ngModel"
                                [(ngModel)]='gender' value="Male" id="radioMale" />
                        </div>
                        <div class="col-md-3">
                            <label class="form-check-label" for="radioMale">Male</label>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-1">
                            <input class="form-check-input" type="radio" name="gender" #genderField="ngModel"
                                [(ngModel)]='gender' value="Female" id="radioFemale" />
                        </div>
                        <div class="col-md-3">
                            <label class="form-check-label" for="radioFemale">Female</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-danger" *ngIf="!genderField.untouched && genderField.errors?.['required']">Select gender
            </div>
        </div>


        <div class="mb-3">
            <span class="text-danger p-1">*</span>
            <label for="birthDate" class="form-label">Date of birth</label>
            <input type="date" #birthDateField="ngModel" class="form-control" name="birthDate" id="birthDate"
                [(ngModel)]='dateOfBirth' max="{{maxDate | date:'yyyy-MM-dd'}}" required>
            <div class="text-danger" *ngIf="!birthDateField.untouched && birthDateField.errors?.['required']">Select
                birth
                date</div>
        </div>

        <div class="mb-3">
            <span class="text-danger p-1">*</span>
            <label for="measurementDate" class="form-label">Date of measurement</label>
            <input type="date" #measurementDate="ngModel" class="form-control" name="measurementDate"
                id="measurementDate" [(ngModel)]='dateOfMeasurement' min="{{birthDateField.value | date:'yyyy-MM-dd'}}"
                max="{{maxDate | date:'yyyy-MM-dd'}}" required>

            <div class="text-danger" *ngIf="!measurementDate.untouched && measurementDate.errors?.['required']">
                Select measurement date
            </div>
            <!-- <div class="text-danger" *ngIf="measurementDate.value < birthDate.value">
                measurement date should be after birth date
            </div> -->
        </div>

        <div class="mb-3">
            <span class="text-danger p-1">*</span>
            <label for="weight" class="form-label">Weight</label>

            <div class="row">
                <div class="col-md-6">
                    <input type="text" #weightField="ngModel" class="form-control" name="weight" [(ngModel)]='weight'
                        pattern="^\d*\.?\d{0,1}$" required>
                </div>
                <div class="col-md-4 offset-0">
                    <select name="weightUnit" class="form-control" name="weightUnit" (change)="onWeightUnitChange()"
                        [(ngModel)]='selectedWeightUnit'>
                        <option *ngFor="let item of weightUnitMatric" [ngValue]="item">
                            {{item.DisplayValue}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="text-danger" *ngIf="!weightField.untouched && weightField.errors?.['required']">Enter Weight
            </div>
            <div class="text-danger" *ngIf="weightField.errors?.['pattern']"> Enter only numbers upto one decimal
                place e.g. 5.5</div>
        </div>
        <div class="mb-6">
            <button type="submit" [disabled]="login.invalid" class="btn btn-primary">Submit</button>
        </div>

    </form>

    <div class="mt-5 .text-primary" *ngIf="!login.invalid && findPercentile(this.monthBasedPercentile)">
        <h5 class="p-3 mb-2 bg-info text-white"><strong>{{this.childName}}</strong> is {{this.ageInMonth}}
            month old and is in the <strong>{{this.percentile}}</strong> percentile
            for
            {{this.gender === 'Male' ? 'his' : 'her'}}
            weight which is
            {{this.childWeightinKg}}kg
        </h5>
        <Span class="mt-2">
            Note: The lower the percentile number, the smaller the child is. For example, if a 6 month-old boy's weight
            is
            in the 10th percentile, that means that 10% of boys that age weigh less than he does and 90% of 6 month-old
            boys
            weigh more.
        </Span>
    </div>
</body>

</html>





<!-- 
    <table class="table" *ngIf="submitted">
        <thead>
            <tr>
                <th class="col-1">Child Name</th>
                <th class="col-1">Gender</th>
                <th class="col-1">Date of Birth</th>
                <th class="col-1">Date of Measurement</th>
                <th class="col-1">Weight</th>

            </tr>
        </thead>
        <tr>
            <td class="col-1">{{childName}}</td>
            <td class="col-1">{{gender}}</td>
            <td class="col-1">{{dateOfBirth}}</td>
            <td class="col-1">{{dateOfMeasurement}}</td>
            <td class="col-1">{{weight}}({{selectedWeightUnit.DisplayValue}})
                <span *ngIf="selectedWeightUnit.DisplayValue === 'lb'">{{childWeightinKg}}(kg)</span>
            </td>
        </tr>
    </table>

    
    <div class="studentList" *ngFor="let item of dataValues">
        <ul>
            <li>{{ item.value }}</li>

        </ul>
    </div> -->



<!-- <ul *ngFor="let data of  this.monthBasedPercentile ">
        <li *ngFor="let child of data  | keyvalue">

            {{child.key}} : <strong>{{child.value}}</strong>

        </li>
        {{data |json}}

    </ul>

    <ul *ngFor="let data of  this.monthBasedPercentile  | keyvalue ">
        {{data.key}} : <strong>{{data.value}}</strong>
    </ul> -->